main.main
    div.row
        div.sidebar
            div.sidebar__header
                img.image__logo(src="https://avatars2.githubusercontent.com/u/34258275?s=88&u=ca611446116d9ab7b3c05155057b4f35a6012ed2&v=4")
                h4 Jayson | Codes
                p Terrible Developer
            div.row.sidebar__main

                div.summarySB
                    div
                        svg(width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")
                        h5 Summary
                    p I am a student learning, one day i'll be something.

                div.contact
                    div
                        svg(width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v11.586l2-2A2 2 0 0 1 4.414 11H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z")
                            path(fill-rule="evenodd" d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z")
                        h5 Contact
                    p.m-0
                        a(href='mailto:contact@jayson.codes') contact@jayson.codes
                    p.m-0
                        a(href='https://github.com/sell') Github
                    p.m-0
                        a(href='https://linkedin.com') LinkedIn
        div.mainContent
            div.summary
                h3 Software Background
                p Tools and Frameworks
                div.row(style="margin: 0px 0px 0px 0px")
                    div.col-sm-6.col-lg-3 Html/Css
                    div.col-sm-6.col-lg-3 Vanilla Js
                    div.col-sm-6.col-lg-3 Express
                    div.col-sm-6.col-lg-3 Pug/Jade
                    div.col-sm-6.col-lg-3 Sass
                    div.col-sm-6.col-lg-3 react
                    div.col-sm-6.col-lg-3 vue
                    div.col-sm-6.col-lg-3 mongodb
                    div.col-sm-6.col-lg-3 discord.js
                    div.col-sm-6.col-lg-3 heroku
                    div.col-sm-6.col-lg-3 bootstrap
                    div.col-sm-6.col-lg-3 nginx
                    div.col-sm-6.col-lg-3 parcel
                    div.col-sm-6.col-lg-3 ubuntu-servers
                    div.col-sm-6.col-lg-3 git
                    div.col-sm-6.col-lg-3 webstorm
            div.projects
                h3 Projects
            div.projects__grid
                div.__projects
                    img(src="https://no-api-key.com/image/logo/no-api-key.png" class="rounded-image" alt="image")
                    h4 No-Api-Key
                    p
                        a.__projects__links(href="https://no-api-key.com") https://no-api-key.com
                    button.info View Info
                        span.drop  &#9660;
                    p.infoDescription No-Api-Key is a site where there is a bunch of routes, and you do not need an api key to use it. Mainly used by discord bots.

                div.__projects
                    img(src="https://cdn.bot-list.xyz/i/a34GfkxS.png" style="border-radius: 0; padding: 5px" class="rounded-image" alt="image")
                    h4 Astro Bot List
                    p
                        a.__projects__links(href="//botlists.com") https://botlists.com
                    button.info View Info
                        span.drop  &#9660;
                    p.infoDescription My by far favorite project, this a a discord bot list where you can upload your discord bot, has many features, took the longest to make.

                div.__projects
                    img(src="https://cdn.url-s.me/i/link.png" class="rounded-image" alt="image")
                    h4 URL Shortener Discord Bot
                    p
                        a.__projects__links(href="//url-s.me") https://url-s.me
                    button.info View Info
                        span.drop  &#9660;
                    p.infoDescription URL Shortener is a discord bot where you are able to shorten links straight from a discord server. ( I am the first to make this kind of bot )

                div.__projects
                    img(src="https://cdn.e-d.me/i/ed-favicon.png" class="rounded-image" alt="image")
                    h4 Emoji Downloader Discord Bot
                    p
                        a.__projects__links(href="//e-d.me") https://e-d.me
                    button.info View Info
                        span.drop  &#9660;
                    p.infoDescription Emoji downloader is a discord bot where you can download emojis straight to your discord server, can be images from a url/web or can be images from another discord server. First of it's kind to download images from the web.

                div.__projects
                    h4 Person Generator
                    p
                        a.__projects__links(href="https://person-generator.com") https://person-generator.com
                    button.info View Info
                        span.drop  &#9660;
                    p.infoDescription Person generator is a site where you can generate a random identity, has an api you can also use!

                div.__projects
                    h4 Youtube & Instagram Tracker
                    p
                        a.__projects__links(href="https://trackingdownfall.netlify.app") https://trackingdownfall.netlify.app
                    button.info View Info
                        span.drop  &#9660;
                    p.infoDescription This is a site where you can look up stats on a youtube channel and/or a instagram profile.

                div.__projects
                    h4 Express Package
                    p
                        a.__projects__links(href="https://www.npmjs.com/package/express-api-limit") express-api-limit
                    button.info View Info
                        span.drop  &#9660;
                    p.infoDescription Express-Api-Limit is a package made to only allow the route to be accessed from one ip address.

            div.projects
                h3 My Other Creations
            div.spotify__github
                div.spotify
                    h4 Current Spotify Song
                    div
                        img(src='https://api.jayson.codes/api/spotify' alt="Spotify Now Playing" width="350")
                    a(href="https://api.jayson.codes/api/spotify") Click here to see
                div.github
                    h4 Github Stats
                    div
                        img(src='https://api.jayson.codes/api/v1/github' alt="Github Stats" width="350")
                    a(href="https://api.jayson.codes/api/v1/github") Click here to see