doctype html
html
    head
        title Jayson | Codes
        link(rel="manifest", href="/manifest.json")
        link(rel="stylesheet", href="css/main.scss")
        link(rel="stylesheet", type='text/css', href="https://cdn.jayson.codes/main.min.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
    body
        //.container
            include includes/header
        include includes/main

        script(src="./js/main.js" defer)