doctype html
html
    head
        title Jayson | Codes
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color" content='#2d6da4')
        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:title" content="Jayson | Codes")
        meta(property="twitter:description" content="Jayson.codes, my personal website with list of some of my projects and skills.")
        meta(property="twitter:url" content="https://jayson.codes/")

        meta(name="title" content="Jayson | Codes")
        meta(name="description" content="Jayson.codes, my personal website with list of some of my projects and skills.\"")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://jayson.codes" )
        meta(property="og:title" content="Jayson | Codes" )
        meta(property="og:description" content="Jayson.codes, my personal website with list of some of my projects and skills." )

        link(rel="manifest", href="manifest.webmanifest")
        link(rel="stylesheet", href="css/main.scss")
        link(rel="stylesheet", type='text/css', href="https://cdn.jayson.codes/main.min.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
    body
        //.container
            include includes/header
        div.loader
            img(src="https://avatars1.githubusercontent.com/u/34258275?s=400&u=ca611446116d9ab7b3c05155057b4f35a6012ed2&v=4")
            p.loading loading
                span#loading ...
        include includes/main

        script(src="./js/main.js" defer)