doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="./ritter.scss")
        link(rel="stylesheet", type='text/css', href="https://cdn.jayson.codes/main.min.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
    body
        h1 coming soon
        h4 Ritter (just another twitter clone)
        a(href='//github.com/sell') contact
