* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #afa9b9 !important;
}

body {
  background: #212529 !important;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;



}
